body {
}

.navbar {
	background-color: rgba(0, 0, 0, 0.90);
}

.navspace {
	height: 100%;
	height: 70px;
}

.container-fluid {
	margin-bottom: 0;
}

.screen {
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

.smooth {
	color: rgba(0, 0, 0, 0.25);
}

#nav-btn-entradas {
	margin-left: 15px;
}

#inicio {
	color: white;
	position: relative;
	padding: 0;
}

#inicio-background {
	z-index: -5000;
	position: absolute;
	background-color: rgba(34, 34, 34, 1.0);
	width: 100%;
	height: 100vh;
}

#inicio > .container {
	position: relative;
	text-align: bottom;
	z-index: 0;
	height: 100vh;
}

#inicio > .container > .row {
	height: 100%;
}

#inicio h2 {
}

footer {
	padding-bottom: 50px;
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	.navbar-nav {
		height: 100vh;
		vertical-align: middle;
	}

	.navbar-nav > li {
		margin: 0 auto;
		padding: 5px;
	}

	#nav-btn-entradas {
		margin-left: 0;
		padding: 15px 50px;
	}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}